<div class="columns">
    <div class="column">
        <div class="field">
            <date-selector date="$ctrl.startDate" placelabel="'Leave'"></date-selector>
        </div>        
    </div>
    <div class="column ">
        <div class="field {{$ctrl.endVisible}}">
            <date-selector date="$ctrl.endDate" placelabel="'Return'"></date-selector>
        </div>
    </div>
</div>
