<div class="box is-mobile">
    <p class="title is-3">Select Flights</p>
<!--    airports directions large screems version-->
    <div class="columns is-hidden-mobile">
        <div class="column is-5">
            <p class="subtitle is-5">{{$infos.fromname}}({{$infos.from}}) {{$infos.fromcountry}}</p>
        </div>
        <div class="column is-2 has-text-centered">
            <span class="icon is-medium font-yellow">
              <i class="fa fa-plane"></i>
            </span>
        </div>
        <div class="column is-5">
            <p class="subtitle is-5 has-text-right">{{$infos.toname}}({{$infos.to}}) {{$infos.tocountry}}</p>
        </div>
    </div>
    <!--    airports directions small screems version-->
    <div class="is-hidden-tablet" >
        <p class="font-blue">
            <span class="icon is-small font-yellow"><i class="fa fa-map-marker"></i></span>
            {{$infos.fromname}}({{$infos.from}}) {{$infos.fromcountry}}
        </p>
        <p class="font-blue">
            <span class="icon is-small font-yellow"><i class="fa fa-plane"></i></span>
            {{$infos.toname}}({{$infos.to}}) {{$infos.tocountry}}
        </p>
        <hr>
    </div>
    
    <!--Used only to show loader-->
    <a class="button is-link is-large is-loading put-on-center {{$hideloading}}" disabled></a>
    
    <table ng-if='flights && flights.length > 0' class="table is-mobile is-striped font-blue">
        <thead>
            <tr>
                <th class="font-blue">Leave</th>
                <th class="font-blue">Return</th>
                <th class="font-blue">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='f in flights'>
                <td>{{f.dateFrom | dateTimeFilter:'DD/MM/YYYY hh:mm A'}}</td>
                <td>{{f.dateTo | dateTimeFilter:'DD/MM/YYYY hh:mm A'}}</td>
                <td><span>{{f.currency}}</span>{{(f.price).toFixed(2)}}</td>
            </tr>
        </tbody>
    </table>
    <p ng-if='flights && flights.length == 0' class="title is-4 has-text-centered">There are no Flights avaliable!</p>
    
    <p class="is-4 has-text-centered warning-color {{$showerror}}" ><b>Failed to connect</b> - Please, check your internet connection</p>   
   
</div>