<nav class="nav">
  <div class="nav-center">
    <a class="nav-item is-brand" href="#">
      <p class="title is-3 ">Test</p>
    </a>
  </div>
</nav>
<section class="put-on-center section" id="selectFlyght">
    <div class="box">
        <div class="level is-mobile">
            <div class="level-left">
                <div class="title is-3">Flights</div>
            </div>
             
            <div class="level-right">
            <!--One way button group, I really liked it but please only consider flights with return -->
                <div class="btn-group">
                    <a class="button rouded-bt is-info returnBt is-small" ng-disabled="retDisabled" ng-click="oneWayReturnBtClick()">Return</a>        
                    <a class="button rouded-bt is-info onewayBt is-small" ng-disabled="oneWayDisabled" ng-click="oneWayReturnBtClick()">One Way</a>
                </div>
            </div>    
        </div>
        
        <airport-wrapper
          fly-from="$ctrl.flyFrom"
          fly-to="$ctrl.flyTo">
        </airport-wrapper>
        <hr>
        
        <date-wrapper 
            end-visible="endVisible"
            start-date="$ctrl.startDate"
            end-date="$ctrl.endDate">
        </date-wrapper>

        <div class="columns is-mobile">
             <div class="column is-2 is-offset-10 ">
                <div class="field">
                    
                    <a class="button is-info  is-pulled-right" ng-disabled="disabled()" ng-click="searchFlyght()">
                        <span class="icon is-small">
                          <i class="fa  fa-search"></i>
                        </span>
                        <span>Find</span>
                    </a> 
                </div>
            </div>                     
        </div>

    </div>    
</section>

<section class="section  put-on-center" id="flightsList">
    <div ui-view></div>    
</section>

