<div class="columns">
    <div class="column">
        <div class="field">
           <p class="control has-icons-left {{$loading}}">
                <airport-selector placelabel="'From'" airport='$ctrl.flyFrom' flylist='$ctrl.flylist'></airport-selector>
                <span class="icon is-small is-left">
                  <i class="fa fa-map-marker"></i>
                </span>
            </p>    
            <p class="help is-danger {{$showerror}}"><b>Failed to connect</b> - Please, check your internet connection.</p>
        </div>        
    </div>
    <div class="column">
        <div class="field">
           <p class="control has-icons-left {{$loading}}">
                <airport-selector placelabel="'To'" airport='$ctrl.flyTo' flylist='$ctrl.flylist'></airport-selector>
                <span class="icon is-small is-left">
                  <i class="fa fa-plane"></i>
                </span>
            </p>
        </div>
    </div>
</div>

