$rYellow: #ffdd57;
$rBlue:#337ab7;
$rDarkBlue: #073590;

$roudedBts:30px;

body{font-family: 'Tahoma'; background-color: aliceblue;}

.nav{    
    background: $rDarkBlue;
    border-bottom: 2px solid #F1C933; 
    .title{color: white}
}

.title, .subtitle{color: $rDarkBlue}

.section{
    max-width: 970px;
    background-color: aliceblue;
}

.put-on-center{display: block; margin-left: auto; margin-right: auto;}

//fixing bulma disabled button
.button[disabled]{pointer-events: none;}

.btn-group{
    .returnBt{
        border-radius: $roudedBts 0 0 $roudedBts;
        margin-right: -3px;
    }
    .onewayBt{
        border-radius: 0 $roudedBts $roudedBts 0;
        margin-left: -3px;
    }
}

.rouded-bt{
    border-radius: $roudedBts;
}

.font-yellow{color: $rYellow}
.font-blue{color: $rDarkBlue}

.warning-color{color: #ff1f4b;}

/*Date input styling*/
input[type="date"]{
    font-family: 'Tahoma';
    
    &:before {
        content: attr(placeholder) !important;
        color: #aaa;
        margin-right: 0.5em;
    }
    &::-webkit-calendar-picker-indicator { 
        color: $rYellow;
    }
    &:focus:before, &:valid:before {
        content: "";
    }
    &::-webkit-clear-button { display: none}
    &::-webkit-inner-spin-button { 
        display: none;
    }
    
    &::-webkit-datetime-edit{
        color: $rBlue;
    }
}

//dropdow menu with flights list
[uib-typeahead-popup].dropdown-menu {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    border-radius: 9px;
    padding: 10px;
    border: 1px solid $rYellow;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    a{
        color:$rDarkBlue;
    }
}

@media screen and (max-width: 420px) {
    .section{ padding: 0; }
    .box{border-radius: 0; padding: 1rem;}
}